* {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none !important;
    color: white;
}

.btn-cadastrar {
    background-color: #16423C !important;
    color: #E5BA73 !important;

    /* padding: 8px; */
}

.btn-cadastrar:hover {
    background-color: #16423cdb !important;
    color: #E5BA73 !important;
}

.btn-cancelar {
    background-color: #A0153E !important;
    color: white;
}

.btn-cancelar:hover {
    background-color: #a0153fd8 !important;
    color: white;
}

.btn-pencil {
    background-color: #16423C !important;
    color: white !important;
}

.btn-pencil:hover {
    background-color: #16423cdb !important;
    color: white;

}

.btn-trash {
    background-color: #A0153E !important;
    color: white !important;
}

.btn-trash:hover {
    background-color: #a0153fd8 !important;
}


input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus {
    border-color: #072d08 !important;
    box-shadow: 0px 0px 2px 1px #16423C !important;
}

/* option:hover,
option:active,
option:focus {
    background-color: #16423C;
} */