@import url(./base.css);

* {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none !important;
}

.btn-cadastrar,
.btn-pencil {
    background-color: var(--primary-color) !important;
}

.btn-cadastrar {
    color: var(--tertiary-color) !important;
}

.btn-cancelar,
.btn-trash {
    background-color: var(--secondary-color) !important;
    color: var(--neutral-white) !important;
}

.btn-pencil {
    color: var(--neutral-white) !important;
}

.btn-cancelar:hover,
.btn-cadastrar:hover,
.btn-pencil:hover,
.btn-trash:hover {
    opacity: 0.8;
}

form hr {
    margin-top: 30px;
    margin-bottom: 25px;
}

input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus,
textarea:hover,
textarea:active,
textarea:focus {
    border-color: var(--focus-color) !important;
    box-shadow: 0px 0px 2px 1px var(--primary-color) !important;
}

textarea {
    resize: none;
}