input:hover {
    border-color: #072d08; /* Muda a cor da borda */
    background-color: white; /* Muda a cor de fundo */
    
  }

  select:hover {
    border-color: #072d08; /* Muda a cor da borda */
    background-color: white; /* Muda a cor de fundo */
  }

  .container 
  {
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
    align-items: center;
    
  }