form{
  margin-left: 15%;
}

input:focus {
  border-color: #072d08; /* Muda a cor da borda */
  background-color: white; /* Muda a cor de fundo */
  
}

select:hover {
  border-color: #072d08; /* Muda a cor da borda */
  background-color: white; /* Muda a cor de fundo */
}

label{
  color:black;
  font-size:100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 


.container 
{
  margin-top: 5%;
  margin-left: 5%;
  width: 100%;
  align-items: center;
  
}

.textbox 
{
    margin-top: 40px;
}


.tittle{

  text-align: center;

 }

h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 1.5px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(31, 16, 240, 0) 0%,rgba(29, 80, 82, 0.8) 40%,rgba(29, 80, 82, 0.8) 53%,rgba(29, 80, 82, 0.8) 40%,rgba(31, 16, 240,0) 100%); 
}

 
.btn_can 
{
    color: #16423C;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    float: right;
    margin-right: 8%;
    margin-left: 2%;
    border: 1px solid grey;
  
}

.btn_cad 
{
    padding: 10px;
    width: 20%;
    color: #E5BA73;
    background-color: #16423C;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    border: 1px solid grey;
}


.botoes{
  margin-left: 50%;
}

.area 
{
    height: 150px;
    width: 900px;
}
