body{
    background-color: rgb(227, 241, 246);
}

.todo{
    height: 50%;
    width: 250%;
    padding-left: 10px;
    background-color: rgb(39, 108, 198);
    color:white;
}

/*.table{
    margin-top: 80%;
    margin-left: 23%;
    width: 400%;
   
}*/

.btn-primary{
    margin-top: -10%;
    height: 50%;
    font-size: 12px;
    background-color: rgb(39, 108, 198);
    border-radius: 0%;
}

label{
    color: #282A35;
}

/*.input-group mb-3{
   margin-left: 230%;
   width: 200%;
   margin-top: 15%;
}*/