body {
    background-color: rgb(255, 255, 255);
}


#Centro {
    background-color: white;   
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(202, 202, 202);
}

h1{
    font-size: 48px;
    font-family: Ubuntu-Bold;
    color: #16423C;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(31, 16, 240, 0) 0%,rgba(29, 80, 82, 0.8) 20%,rgba(29, 80, 82, 0.8) 53%,rgba(29, 80, 82, 0.8) 79%,rgba(31, 16, 240,0) 100%); 
  }

.text {
    margin-left: 5%;
    font-size: 16px;
    color: grey;
}

.box {
    font-family: Ubuntu-Bold;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 15%;
    border: 1px solid #000000;
    font-size: 20px;
}

.Button {
    font-size: 16px;
    color: #E5BA73;
    width: 95%;
    margin-left: 2.5%;
    height: 60px;
<<<<<<< Updated upstream
    background-color: #16423C;
=======
    background-color: #0d5330;
>>>>>>> Stashed changes
    border-radius: 5px;
    border: none;
    transition: all .4s;
    margin-bottom: 20px;
}

.Button:hover {
<<<<<<< Updated upstream
  color: #E5BA73;
  background-color: #13312d;
=======
  color: #fff;
  background-color: #0d5330;
>>>>>>> Stashed changes
}