.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.active {
    color: red;
    font-weight: bold;
}

.slideBar {
    background-color: #282A35;
    display: flex;
    padding: 50px;
    font-size: 20px;
    text-align: justify;
}

.textNav {
    font-size: 20px;
}


.sairMenu {
    padding-right: 20px;
    padding-left: 20px;

}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

.logoMenu {
    width: 110px;
    height: 110px;
}

@media (min-width : 640px) {
    .page {
        flex-direction: row;
    }

    .slideBar {
        height: 100vh;
        width: auto;
        top: 0;
        position: sticky;
        display: block;
    }

    .sairMenu {
        padding-right: 40px;
        padding-left: 40px;
    }

    #meumenu {
        height: 75%;
    }
}