.tittle {
    text-align: center;
    margin-top: 30px;
    color: #16423C;
}

.subtittle {
    color: #16423C;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text {
    font-size: 15px;
    color: #16423C;
}

.btn-buscar {
    background-color: #212529;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;  
    width: 60%;
}


h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(31, 16, 240, 0) 0%,rgba(29, 80, 82, 0.8) 40%,rgba(29, 80, 82, 0.8) 53%,rgba(29, 80, 82, 0.8) 40%,rgba(31, 16, 240,0) 100%); 
  }